<!DOCTYPE html>
<html>
<head>
	<title>DISEASE IDENTIFICATION IN PLANTS</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="background">
		<div class="content">
			<h1><b>CURE PLANT</b></h1>
			<p><marquee width="30%" direction="left" hspace="400px" height="100px">Don't make trees rare,Keep them with care</marquee></p>
			<div>
				<a href="file:///D:/likitha/project/upload.html">
					<button type="button"><b><span></span>NEXT</b></button>
			    </a>
			</div>
		</div>
	</div>
</body>
</html>